*{
    margin: 0;
}

.headline {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 10px;
}

#wrapper{
    margin: 0 auto;

    gap: 1em;

    padding: 10px;
    width: 90%;

    font-family: Arial, Helvetica, sans-serif;
}

.sub-holding{
    display: grid;
}
.hidden{
    display: none;
}

#back-button{
    max-width: 4%;
}
iframe{
    aspect-ratio: 1/1;
    max-width: 100%;
}
#submit-button{
    aspect-ratio: 10/1;
    width: 100%;
}

#recipe-pieces{
    width: 100%;
}
#recipe-pieces > div{
    display: grid;
    grid-template-columns: 1fr 10fr;
    min-height: 11.125%;
}
#recipe-container{
    background-color: white;
    width: 100%;
}
article{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

input{
    height: 25px;
}
.full{
    grid-column: 1/-1;
}
#recipe-pieces input{
    grid-column: 1/-1;
}

header{
    display: flex;
    flex-direction: column;
}
#title{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 2em;
}
#title h1{
    margin: auto auto;
}
#title img{
    height: 100%;
    max-width: 150px;
    display: flex;
    justify-self: flex-end;
}

.social{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 3em;
}
.social *{
    flex: 0 0 30px;
}

footer a{
    display: flex;
    align-self: center;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.fa-x{
    aspect-ratio: 1/1;
    margin-left: 15px;

    display: flex;
}
.fa-x:hover{
    cursor: pointer;
}

@media screen and (min-width: 550px) {
    #add-recipe{
        display: flex;
        position: relative;
    }

    iframe{
        aspect-ratio: 1/1;
        max-width: 60%;
    }

    #recipe-pieces{
        position: absolute;
        right: 0;
        height: 100%;
        width: 40%;
    }
    #recipe-container{
        position: absolute;
        left: 12.5%;
        width: 75%;
        z-index: 9999;
    }
    #submit-button{
        position: absolute;
        width: 60%;
        aspect-ratio: 10/1;
        bottom: 0;
    }
}