body{
    background-color: #dddddd;
    font-size: 17px;
}

#content{
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;   
}

p{
    color: #0359fc;
    font-size: 1.3em;
}
hr{
    height: 3px;
    background-color: #0359fc;
    width: 80%;
    margin-top: 50px;
}

h1, h2, p{
    text-align: center;
    /* margin: 0 auto; */
    /* width: 55%; */
}

img{
    width: 50%;
    display: block;
    margin: 50px auto;
}

#topics{
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
/* li{
    margin: 0 auto;
} */

.list{
    list-style-type: none;
    padding: 0;
}

.background{
    background-color: #000;
    color: white;
}